*{
  box-sizing: border-box;
  /* margin: 0; */
}
:root{
  --background-color : #573824;
  --surface-color : #F0E8C2;
  --text-color-primary : #291B1A;
  --text-color-secondary : #573A37;
  --text-color-on-bg : #F0E8C2;
  
  font-family: "Alice", serif;
  line-height: 150%;
  font-size: 16px;
  color: var(--text-color-secondary);
  
}
body{
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
}
#page{
  padding: 24px;
  background-color: var(--surface-color);
  width: 800px;
  height: 1440px;
  border-radius: 24px;
  margin: 48px auto;
}
#page img{
  border-radius: 16px;
}
h1{
  line-height: 140%;
  font-size: 40px;
  color: var(--text-color-primary);
}
h2{
  font-size:24px ;
  color: var(--text-color-primary);
}