*{
  margin: 0;
  padding: 0;
}
:root{
  --background-color : #573824;
  --surface-color : #F0E8C2;
  --text-color-primary : #291B1A;
  --text-color-secondary : #573A37;
  --text-color-on-bg : #F0E8C2;
  
  font-family: "Alice", serif;
  line-height: 150%;
  font-size: 16px;
  color: var(--text-color-secondary);
  
}
body{
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
}
#page{
  box-sizing: border-box;
  background-color: var(--surface-color);
  width: 800px;
  /* height: 1440px; */
  border-radius: 24px;
  margin: 48px auto;
  padding: 24px;
}
#page img{

  border-radius: 16px;
}
main{

 padding: 24px;
 
}
h1{
  line-height: 140%;
  font-size: 40px;
  color: var(--text-color-primary);
  margin-bottom: 4px;
}
section + section {
  margin-top: 24px;
}

#sobre p + p {
margin-top: 12px;

}
h2{
  font-size:24px ;
  color: var(--text-color-primary);
  line-height: 150%;
}

ul{
  margin-top: 4px;
  padding-left: 24px;
}
#preparo p{
  margin-top: 4px;

}
footer{
color: var(--text-color-on-bg);
margin-top :28px;
text-align: center;
padding-bottom: 48px;
font-size: 16px;
}
footer img{
  margin-inline: 4px;
  vertical-align: middle;
}